body {
    margin: 0px;
    padding: 0px;
}

a:hover {
    cursor: pointer;
}

b {
    font-weight: 600;
}

h1 , h2, h3, h4, h5, h6, b {
    padding: 0px;
    margin: 0px;
    font-weight: 600;
}

p {
    padding: 0px;
    margin: 0px;
}

.worksCarouselButtons:active {
    background-color: transparent;
}

.worksCarouselSlider:active {
    background-color: transparent;
}