.entireWork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workContentContainer {
    display: flex;
    flex-direction: column;
    padding: 64px 280px 120px 280px;
    gap: 40px;
    width: 100%;
    max-width: 880px;
}

.workTitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 880px;
    width: 100%;
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 32px */
}

.workContent1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 16px;
    border-bottom: 1px solid #E4E5DA;
    padding: 32px 0px;
}

.workContent1Image {
    background: url(../../assets/Images/workContent1Image.png) rgb(255, 255, 255) 0% / cover no-repeat;
    display: flex;
    padding: 37px 87.464px 0px 167px;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    height: 323px;
    border-radius: 4px;
}

.workContent1Image:hover {
    opacity: .775;
    cursor: pointer;
}

.workContent2Image {
    background: url(../../assets/Images/workContent2Image.png) rgb(255, 255, 255) 0% / cover no-repeat;
    display: flex;
    padding: 37px 87.464px 0px 167px;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    height: 323px;
    border-radius: 4px;
}

.workContent2Image:hover {
    opacity: .775;
    cursor: pointer;
}

.workText1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    color: #111;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 28.6px */
    margin-top: 8px;
}

.workText1Title:hover {
    cursor: pointer;
    color: green;
    transition: 0.25s;
}

.workText2 {
    color: #777;
    font-family: Verdana;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
}

.workText3 {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.workContentTags {
    display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #F5F5F0;
    border: none;
    gap: 8px;
    color: #777;
    font-family: Verdana;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
}